<md-content>
  <md-card ng-hide="!!id">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">No RSVP</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      You are not logged in. Please follow the link you received in your email.
    </md-card-content>
  </md-card>
  <md-card ng-hide="!!rsvp.data || !id">
    <md-card-title>
      <md-card-title-text>
        <div layout="row" layout-sm="column" layout-align="space-around">
          <span class="md-headline">Loading your RSVP</span>
        </div>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div layout="row" layout-align="space-around">
        <md-progress-circular
          md-mode="indeterminate"
          md-diameter="96"></md-progress-circular>
      </div>
    </md-card-content>
  </md-card>
  <form ng-hide="!rsvp.data || !id" name='form' ng-submit="rsvp.submitRsvp()">
    <md-card>
      <img src="assets/images/rsvp-ribbon.png" class="md-card-image" alt="Taylor and Rachel">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">RSVP</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          We look forward to seeing you October 20th, 2017.
        </p>
        <p>
          Kindly RSVP on or before August 15th, 2017.
        </p>
        <p>
          In order to allow all guests, including parents, an evening of
          relaxation we have chosen for our wedding day to be an adult only
          occasion. We hope this advance notice means you are still able to
          share our big day and will enjoy having the evening off!<br/>
          <br/>
          Nursing babies are excepted
        </p>
      </md-card-content>
    </md-card>
    <div ng-repeat="guest in rsvp.data.guests">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{guest.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <md-switch
            class="md-primary"
            ng-model="guest.coming">
            {{ guest.coming ? 'Attending' : 'Not Attending' }}
          </md-switch>
          <md-switch
            ng-if="guest.coming"
            class="md-primary"
            ng-model="guest.shuttle">
            {{ guest.shuttle ? 'Using Shuttle' : 'Not Using Shuttle' }}
          </md-switch>
          <md-input-container ng-if="guest.coming" class="md-block">
            <label>Dietary Restrictions</label>
            <textarea ng-model="guest.diet" md-maxlength="150" rows="2" md-select-on-focus></textarea>
          </md-input-container>
        </md-card-content>
      </md-card>
    </div>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">More Information</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <span class="md-caption">Music Requests</span>
        <md-chips
          ng-model="rsvp.data.songs"
          placeholder="Enter a song"
          secondary-placeholder="+Song">
        </md-chips>
        <md-input-container class="md-block">
          <label>Comments</label>
          <textarea ng-model="rsvp.data.comments" md-maxlength="150" rows="4" md-select-on-focus></textarea>
        </md-input-container>
        <md-button
        class="md-raised md-primary"
        ng-disabled="form.$pristine || rsvp.inTransit"
        type="submit">{{submitCaption}}</md-button><div id="toastContainer"></div>
      </md-card-content>
    </md-card>
  </form>
</md-content>
