<md-content>
  <div layout-xs="column" layout="row">
    <md-card flex>
      <img ng-src="assets/images/rachelbio.jpg" class="md-card-image"></img>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Rachel</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>
          Rachel grew up in Southwestern Ontario (more Southwest than Taylor’s
          hometown!) and enjoyed a childhood of sports, summers with her family
          and friends at the cottage, and getting her family’s snowmobile stuck
          in many locations across Essex County.  Initially moving to Ottawa to
          pursue her Political Science degree at Carleton University, she
          quickly realized that her true calling was designing things that are
          difficult to construct, and then leaving the engineers to do all the
          work.<br/>
          And so began her career in Architecture.<br/>
          After years of lack of sleep, excessive amounts of coffee, and many
          technical questions and math problems requiring the assistance of her
          in-house engineer,  she has finished her attempt at getting all of the
          degrees and is happily working towards her professional licensure as
          an Architect.
        </p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <img ng-src="assets/images/taylorbio.jpg" class="md-card-image"></img>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Taylor</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
      </md-card-content>
    </md-card>
  </div>
  <md-card>
    <md-card-content>
      <div layout="column" layout-align="center center">
        <img style="width: 400px;" ng-src="assets/images/raylor.png"></img>
        <span class="md-headline" style="margin-top: 10px">How We Met</span>
        <p style="text-align: center">
          All we can say is that fate brought us together...
        </p>
        <p style="text-align: center; margin-top: 0px">
          Wait, no, it was actually our friends Michelle and Sarah!<br/>
          Rachel met Sarah and Michelle while on an internship in Botswana, and
          Taylor met Michelle and Sarah by being that guy who lives on the floor
          below. One day Rachel got a call from Sara and Michelle  that went something
          like... “we have a friend coming over later that you need to meet, he likes
          old music and cool stuff and you will probably become lovers, if not
          then you will definitely become super best friends.”  Needless to say,
          both of their predictions came true.
        </p>
        <p style="text-align: center; margin-top: 0px">
          So many people have played important roles in our lives thus far, but here
          are a few faces that you will be seeing a bit more of on the big day.
          Introducing the wedding party!
        </p>
      </div>
    </md-card-content>
  </md-card>
  <div layout-xs="column" layout="row">
    <div layout="column" flex layout-fill>
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Bridesmaids</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div>
            <img class="weddingPartyPhoto" ng-src="assets/images/christina.png"></img>
            <p style="font-weight: bold">Christina Sandor-Biernacki<br/><i>Maid of Honour</i></p>
            <p style="margin-left: 10px">
              I'm Christina Sandor-Biernacki, Rachel's maid of honour! Rachel and I met in grade 6 upon her
              family's move to LaSalle; we have been braving catastrophes of all sizes ever since. Even with
              the 800+ kilometers that separates us we have remained steadfast in our friendship and look
              forward to what the future has in store for the both of us!
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/kaitlyn.png"></img>
            <p style="font-weight: bold">Kaitlyn Garnier</p>
            <p style="margin-left: 10px">
              Hi, I am Kaitlyn Garnier aka Rachel’s favourite older (and taller) cousin. We had the good
              fortune to spend the better part of two decades growing up and adventuring together, from
              summer sails at our grandparent's cottage to winter ski trips throughout ON/QB. I followed my
              wanderlust out west and have lived in Vancouver, BC for the last ten years with my spouse Cyril
              (Frenchie).
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/lauren.png"></img>
            <p style="font-weight: bold">Lauren Graf</p>
            <p style="margin-left: 10px">
              Lauren has been Taylor's sister for as long as she can remember, even though sometimes it
              has felt longer. And, while she is the only girl sibling Graf, she is now lucky enough to be
              welcoming a second sister-in-law into the fold, despite the fact that Rachel has thrown seafood
              at Lauren in a very nice restaurant. Lauren has let bygones be bygones, and is now happy to
              stand beside Rachel on her big day.
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/karina.png"></img>
            <p style="font-weight: bold">Karina Salgado</p>
            <p style="margin-left: 10px">
              And then....Mexis brought us together:<br/>
              <br/>
              The fate that brought Rachel and I together was called Mexicali Rosas Byward-Market. A guy
              named Pepe hired us both around the same time. She as a bartender and me as a server. I
              imagined he did so because we both, so obviously, fit the profile of hot-spicy-latina living in
              whitey-land. From the moment we met, I could swear Rachel was made to be Latin; except she
              doesn't dance, but that is okay. To this day, I still think she is. Her spirit, passion, kindness and
              love for everything foreign have always made her so familiar to me. In her, I see traits that
              constantly remind me of Ecuador, my culture and my own people; this is why she is so special
              to me. In my heart, she is family and I couldn't be prouder to accompany her and Taylor in this
              journey.<br/>
              <br/>
              Born &amp; Bred in Ecuador - Economista - Puppy Lover - World Citizen - Almost 30
             </p>
          </div>
        </md-card-content>
      </md-card>
    </div>
    <div layout="column" flex>
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Groomsmen</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/aaron.png"></img>
            <p style="font-weight: bold">Aaron Graf<br/><i>Best Man</i></p>
            <p style="margin-left: 10px">
              I am the oldest of the three Graf siblings so I've had the pleasure of seeing Taylor grow from
              being a bratty and annoying (in my eyes only of course) younger brother that I shared a
              bedroom with growing up to being the intelligent, successful and mature young man he is today.
              I moved to Alberta in 2006 with my then girlfriend, now wife, Zoey. We are lucky enough to have
              two wonderful boys, 5 year old Eli and 2 year old Ezra, as well as our pup Juno. Living
              thousands of kilometers from Taylor and Rachel has limited our get togethers over the past few
              years to special events like Christmas and weddings but we have definitely had a lot of fun on
              those occasions. I had the honour of having Taylor be the best man at my wife's and my
              wedding and am very excited be a part of Rachel and Taylor's big day.
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
            <p style="font-weight: bold">Dan Edmunds</p>
            <p style="margin-left: 10px">
              I met Taylor playing co-ed rec soccer hoping to meet a girl, I ended up meeting Taylor instead...
              Since then we've become really good friends and have shared in many nerdy pursuits. So far we've
              managed to rope the ladies in our lives into most of these activities. I've really enjoyed playing board games,
              playing soccer, appreciating music on vinyl and just generally hanging out with Taylor and Rachel they are a great couple.
              I'm so happy that they're tying the knot and am looking forward to seeing that the future has in store for
              the Raylor Power Couple.
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/josh.png"></img>
            <p style="font-weight: bold">Joshua Hart</p>
            <p style="margin-left: 10px">
              I met Taylor through some girl, and can honestly say that he is a pretty cool guy. If you haven't
              guessed already, I am Rachel's brother, Josh. Seeing as I am the bride's brother, I know what it
              takes to make it in the Hart family. Taylor's adventuresome spirit, thoughtfulness, and good
              humour are just a few of the qualities that have gained him wholehearted acceptance into our
              family, and are undoubtedly but a few of the reasons that led Rachel and Taylor to where they
              are today.
             </p>
          </div>
          <div>
            <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/brendan.png"></img>
            <p style="font-weight: bold">Brendan Yeats</p>
            <p style="margin-left: 10px">
              I've been a lifelong friend of Taylor's; we grew up and went to school together in Goderich until
              we finally parted ways after grade 13. We kept in touch throughout our university days, and
              spent many memorable Canada Days in Ottawa together, and have spent a few Canada Days
              together for which the memories are less clear. Taylor's path to adulthood was less circuitous
              than my own; we spent many fun weekends together in Montreal while I was completing my
              master's at McGill, and we've had some fun times together in Toronto now that I'm working
              there as a pharmacist and during my time there in pharmacy school. I really felt Taylor met the
              definition of a lifelong friend when we spent a week together in Nice, France in 2014, and we
              managed not to get on each other's nerves once for the entire duration of the trip (passionate
              outbursts over losing a drink bet over a game of cards not withstanding). I am very much looking
              forward to witnessing Taylor and Rachel officially begin the rest of their lives together!
             </p>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-content>
