<md-content>
  <md-card>
    <md-card-content>
      <div layout="column" layout-align="center center">
        <img style="width: 400px;" ng-src="assets/images/raylor.png"></img>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
          in culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
    </md-card-content>
  </md-card>
  <div layout-xs="column" layout="row">
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Bridesmaids</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div>
          <img class="weddingPartyPhoto" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
        <div>
          <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
        <div>
          <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Groomsmen</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div>
          <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
        <div>
          <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
        <div>
          <img class="weddingPartyPhoto" style="width: 150px; height: 150px; float: left" ng-src="assets/images/dan.png"></img>
          <p style="font-weight: bold">Dan Edmunds</p>
          <p style="margin-left: 10px">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
            in culpa qui officia deserunt mollit anim id est laborum
           </p>
        </div>
      </md-card-content>
    </md-card>
  </div>
</md-content>
